<%= resource_frm.fields_for :address do |address_fields| %>
  <div class="field">
    <%= address_fields.label :line_1 %><br />
    <%= address_fields.text_area :line_1 %>
  </div>

  <div class="field">
    <%= address_fields.label :line_2 %><br />
    <%= address_fields.text_area :line_2 %>
  </div>

  <div class="field">
    <%= address_fields.label :city %><br />
    <%= address_fields.text_field :city %>
  </div>

  <div class="field">
    <%= address_fields.label :state %><br />
    <%= address_fields.text_field :state %>
  </div>

  <div class="field">
    <%= address_fields.label :landmark %><br />
    <%= address_fields.text_field :landmark %>
  </div>

  <div class="field">
    <%= address_fields.label :pincode %><br />
    <%= address_fields.text_field :pincode %>
  </div>
<% end %>
